h1,h2,h3,h4,h5,h6
  font-weight: 500

.h1-title

.h2-title
  font-size: 22px
  line-height: 1.6

.p-main
  font-size: 18px
  line-height: 1.55

.p-big
  font-size: 22px
  line-height: 1.55

// links inside paragraphs
.p-main, .p-big
  a
    position: relative
    display: inline-block
    color: $colorBlue
    transition: color .25s $ease
    &::after
      display: inline-block
      content: ' '
      position: absolute
      bottom: .2em
      left: 0
      right: 0
      height: 1px
      background: currentColor
    &:hover
      color: rgba($colorBlue, .5)

p.p-main, p.p-sub
  margin: 1.35em 0
  + p.p-main, p.p-sub
    margin-top: 1.9em
  &:last-child
    // not first child ?
    margin-bottom: 0


.blockquote
  position: relative
  padding-left: 20px
  &::after
    display: block
    content: ' '
    position: absolute
    left: -15px
    top: .3em
    bottom: .3em
    width: 1px
    background: currentColor

  span
    display: block

.p-label
  // text-transform: uppercase
  font-size: 15px


.figcaption
  font-weight: 500
  font-family: $baseFont
  margin-top: 20px


/* typography responsive styles
+r($hd)
  .h2-title
    font-size: 20px
  .p-main
    font-size: 16px
  .p-big
    font-size: 20px

  .p-label
    font-size: 14px

+r($lg)
  .h2-title
    font-size: 16px
  .p-main
    font-size: 14px
  .p-big
    font-size: 16px

  .p-label
    font-size: 12px
  .figcaption
    margin-top: 15px

+r($md)
  .blockquote
    &::after
      left: 0


.ttu
  text-transform: uppercase
.tac
  text-align: center
.tal
  text-align: left
.tar
  text-align: right

// colors
.c-gray
  color: $fontColor50


// paddings and margins
.mt10, p.mt10
  margin-top: 10px

.mt0

p.mt0
  margin-top: -.2em
p.mt0--pure
  margin-top: 0
