// GRID TEST
// display: none; 
.demo-grid(style="display: none; pointer-events: none; position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 99")
  .container
    .row
      div(style="width: 8.333%; padding: 0 15px")
        div(style="background-color: rgba(255, 0, 0, 0.05); height: 100vh")
      div(style="width: 8.333%; padding: 0 15px")
        div(style="background-color: rgba(255, 0, 0, 0.05); height: 100vh")
      div(style="width: 8.333%; padding: 0 15px")
        div(style="background-color: rgba(255, 0, 0, 0.05); height: 100vh")
      div(style="width: 8.333%; padding: 0 15px")
        div(style="background-color: rgba(255, 0, 0, 0.05); height: 100vh")
      
      div(style="width: 8.333%; padding: 0 15px")
        div(style="background-color: rgba(255, 0, 0, 0.05); height: 100vh")
      div(style="width: 8.333%; padding: 0 15px")
        div(style="background-color: rgba(255, 0, 0, 0.05); height: 100vh")
      div(style="width: 8.333%; padding: 0 15px")
        div(style="background-color: rgba(255, 0, 0, 0.05); height: 100vh")
      div(style="width: 8.333%; padding: 0 15px")
        div(style="background-color: rgba(255, 0, 0, 0.05); height: 100vh")
          
      div(style="width: 8.333%; padding: 0 15px")
        div(style="background-color: rgba(255, 0, 0, 0.05); height: 100vh")
      div(style="width: 8.333%; padding: 0 15px")
        div(style="background-color: rgba(255, 0, 0, 0.05); height: 100vh")
      div(style="width: 8.333%; padding: 0 15px")
        div(style="background-color: rgba(255, 0, 0, 0.05); height: 100vh")
      div(style="width: 8.333%; padding: 0 15px")
        div(style="background-color: rgba(255, 0, 0, 0.05); height: 100vh")

div(js-show-grid) 
  span grid
