// HEADER :: START
header.header.is-top
  .header__wrapper
    a(href="homepage.html").header__logo
      +svgMono('logo')
    ul.header__menu
      li
        a(href="works.html") Works
      li
        a(href="flow.html") Flow
      li
        a(href="about.html") About
          
    .header__hamburger
      .hamburger(js-hamburger)
        span
        span
      
// HEADER :: END

// MOBILE NAVI
.mobile-navi
  .mobile-navi__wrapper
    ul.mobile-navi__menu
      li
        a(href="works.html") Works
      li
        a(href="flow.html") Flow
      li
        a(href="about.html") About
    .mobile-navi__cta
      a(href="mailto:hello@petrick.co") hello@petrick.co
