---
title: About us
---
extends shared/_layout
block content
  
  // ABOUT
  .about
    // section
    .section
      .container
        .row.row--jcs.row--offset-1
          .col.col--60
            .p-main Petrick is the animation studio based in city of circles — Moscow. We started working in 2014 and since then we try to add love in each of our projects.
    
    // section
    .section
      .container
        .scaler(style="padding-bottom: "+ (1165/1241)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/aboutCollage.jpg)")
          img(src='img/aboutCollage.jpg' srcset='img/aboutCollage@2x.jpg 2x' alt="")
    
    // section
    .section.section--text-mb
      .container
        .row.row--offset-1
          .col.col--60
            p.p-main.mt0.mt0--pure Studio is focused on character animation development - we bring life to characters of different styles and various level of difficulty. However, with the greatest passion, we dive into drawing animation.
            p.p-main We are always opened for new artists to collaborate with, so if interested please get in touch via <a href="mailto:hello@petrick.ru">hello@petrick.ru</a>, write a bit about yourself and why you want to join us. Please include your current resume and reference the job title in the subject line.

          .col.col--30.mla.mt50-md
            .h2-title.ttu YOU CAN FIND US
            .about__socials
              .about__social
                a(href="#" target="_blank") Behance
              .about__social
                a(href="#" target="_blank") Instagram
              .about__social
                a(href="#" target="_blank") Facebook
              .about__social
                a(href="#" target="_blank") Twitter
  
    // section
    .section
      .container
        .row.row--jcs.row--offset-1
          .col.col--70
            .h2-title.ttu Jobs
            .tabs(js-tabs)
              .tab
                .tab__heading
                  .p-main Perfectly skilled motion designer
                  .tab__toggler
                    +svgMono('arrow-down')
                .tab__content(style="display: none")
                  p.p-main.mt0 Studio is focused on character animation development - we bring life to characters of different styles and various level of difficulty. However, with the greatest passion, we dive into drawing animation.
                  p.p-main We are always opened for new artists to collaborate with, so if interested please get in touch via hello@petrick.ru, write a bit about yourself and why you want to join us. Please include your current resume and reference the job title in the subject line.
              .tab.is-active
                .tab__heading
                  .p-main Screenwriter interested in «Серёжа» soap opera
                  .tab__toggler
                    +svgMono('arrow-down')
                .tab__content(style="display: block")
                  p.p-main.mt0 Studio is focused on character animation development - we bring life to characters of different styles and various level of difficulty. However, with the greatest passion, we dive into drawing animation.
                  p.p-main We are always opened for new artists to collaborate with, so if interested please get in touch via hello@petrick.ru, write a bit about yourself and why you want to join us. Please include your current resume and reference the job title in the subject line.
              .tab
                .tab__heading
                  .p-main Post liker in social networks
                  .tab__toggler
                    +svgMono('arrow-down')
                .tab__content(style="display: none")
                  p.p-main.mt0 Studio is focused on character animation development - we bring life to characters of different styles and various level of difficulty. However, with the greatest passion, we dive into drawing animation.
                  p.p-main We are always opened for new artists to collaborate with, so if interested please get in touch via hello@petrick.ru, write a bit about yourself and why you want to join us. Please include your current resume and reference the job title in the subject line.

    
