---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content

  // HOMEPAGE
  .works
    .container
      .works__grid
        .works__col
          .works__card
            .scaler
              img
