---
title: Homepage title
---
extends shared/_layout
block content

  // WORKS (Portfolio section)
  .works
    .container
      .works__grid(js-masonry)
        .grid-sizer(js-masonry-grid-sizer)
        // col
        .works__col(js-masonry-card)
          a(href="project.html").work-card
            .work-card__image.scaler(style="padding-bottom: "+ (339/394)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_100,c_fill/v1544280402/petrik/work_1.png)")
              img(js-lazy data-src='img/work_1.png' data-srcset='img/work_1@2x.png 2x' alt="")
            .work-card__info
              .work-card__client PARAMOUNT
              .work-card__name Paramount Comedy iD’s
                
        // col
        .works__col(js-masonry-card)
          a(href="project.html").work-card
            .work-card__image.scaler(style="padding-bottom: "+ (462/393)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_100,c_fill/v1544280402/petrik/work_2.png)")
              img(js-lazy data-src='img/work_2.png' data-srcset='img/work_2@2x.png 2x' alt="")
            .work-card__info
              .work-card__client PARAMOUNT
              .work-card__name Paramount Comedy iD’s
        
        // col
        .works__col(js-masonry-card)
          a(href="project.html").work-card
            .work-card__image.scaler(style="padding-bottom: "+ (218/394)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_100,c_fill/v1544280402/petrik/work_3.png)")
              img(js-lazy data-src='img/work_3.png' data-srcset='img/work_3@2x.png 2x' alt="")
            .work-card__info
              .work-card__client PARAMOUNT
              .work-card__name Paramount Comedy iD’s
        
        // col
        .works__col(js-masonry-card)
          a(href="project.html").work-card
            .work-card__image.scaler(style="padding-bottom: "+ (551/394)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_100,c_fill/v1544280402/petrik/work_4.png)")
              img(js-lazy data-src='img/work_4.png' data-srcset='img/work_4@2x.png 2x' alt="")
            .work-card__info
              .work-card__client PARAMOUNT
              .work-card__name Paramount Comedy iD’s
              
        // col
        .works__col(js-masonry-card)
          a(href="project.html").work-card
            .work-card__image.scaler(style="padding-bottom: "+ (476/394)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_100,c_fill/v1544280402/petrik/work_5.png)")
              img(js-lazy data-src='img/work_5.png' data-srcset='img/work_5@2x.png 2x' alt="")
            .work-card__info
              .work-card__client PARAMOUNT
              .work-card__name Paramount Comedy iD’s
              
        // col
        .works__col(js-masonry-card)
          a(href="project.html").work-card
            .work-card__image.scaler(style="padding-bottom: "+ (591/394)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_100,c_fill/v1544280402/petrik/work_6.png)")
              img(js-lazy data-src='img/work_6.png' data-srcset='img/work_6@2x.png 2x' alt="")
            .work-card__info
              .work-card__client PARAMOUNT
              .work-card__name Paramount Comedy iD’s                
              
        // col
        .works__col(js-masonry-card)
          a(href="project.html").work-card
            .work-card__image.scaler(style="padding-bottom: "+ (466/393)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_100,c_fill/v1544280402/petrik/work_7.png)")
              img(js-lazy data-src='img/work_7.png' data-srcset='img/work_7@2x.png 2x' alt="")
            .work-card__info
              .work-card__client PARAMOUNT
              .work-card__name Paramount Comedy iD’s        
              
        // col
        .works__col(js-masonry-card)
          a(href="project.html").work-card
            .work-card__image.scaler(style="padding-bottom: "+ (287/394)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_100,c_fill/v1544280402/petrik/work_8.png)")
              img(js-lazy data-src='img/work_8.png' data-srcset='img/work_8@2x.png 2x' alt="")
            .work-card__info
              .work-card__client PARAMOUNT
              .work-card__name Paramount Comedy iD’s                          
              
  
  // NEXT
  a.next(href="about.html")
    .container.container--offset-1
      .next__heading
        // rows by default are justify-content: center
        // .row--jcs is modifier for justify-content: start
        .row.row--jcs
          .col.col--60
            h2.h2-title ABOUT
            p.p-main Petrick is the animation studio based in city of circles — Moscow. We started working in 2014 and since then we try to add love in each of our projects.
    .container
      .next__image(js-image-transition)
        .scaler(style="padding-bottom: "+ (1165/1241)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:400/v1544280402/petrik/aboutCollage.jpg)")
          img(js-lazy data-src='img/aboutCollage.jpg' data-srcset='img/aboutCollage@2x.jpg 2x' alt="")
