---
title: Project title (trasition to demo page)
---
extends shared/_layout
include components/_sections

block content

  // PROJECT
  .project(js-set-project-colors data-bg-color="#E5E5E5" data-font-color="#000")
    +t_project_header
    +i_1_video_vimeo("project_2", "https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544361310/petrik/project_2.jpg")
    +i_5_three_images_individual_sign
    +t_1_text_only                    
    +t_credits
        

  // NEXT
  a.next(href="project.html" data-transition="project")
    .container
      .next__heading
        .row.row--jcs.row--offset-1
          .col.col--60
            h2.h2-title.next__title NEXT PROJECT
        .row.row--offset-1.mt20-md
          .col.col--40
            .p-label.ttu ROCKETBANK
            .h2-title Arcada Rocketbank
          
          .col.col--60
            .p-main Our friends from Rocketbank showed up with awesome news – in partnership with Claustrophobia they had launched special quest, where you can exchange earned points for real rubles.
      
    .container
      .next__image(js-image-transition js-set-image-margin)
        .scaler(style="padding-bottom: "+ (792/1410)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544280402/petrik/media_1.jpg)")
          img(js-lazy data-src='img/media_1.jpg' data-srcset='img/media_1@2x.jpg 2x' alt="")
