---
title: Project title
---
extends shared/_layout
include components/_sections

block content
      
  // PROJECT
  .project(data-bg-color="#E5E5E5" data-font-color="#000")
    +t_project_header
    +i_1_video_vimeo
    +i_1_video_youtube
    +t_2_text_caption
    +i_2_two_images
    +i_4_full-width
    +t_3_centered_text
    +i_6_three_images_block_sign
    +t_1_text_only
    +i_3_one_image_container_offset
    +i_t_2_image_with_image_caption
    +t_2_text_caption
    +i_t_1_image_text
    +i_t_3_text_with_image_caption
    +i_7_six_images     
    +t_2_text_caption  
    +i_slider    
    +t_1_text_only
    +i_chooser
    +i_5_three_images_individual_sign
    +t_1_text_only
    +t_credits

  // NEXT
  a.next(href="project-transition.html" data-transition="project")
    .container
      .next__heading
        .row.row--jcs.row--offset-1
          .col.col--60
            h2.h2-title.next__title NEXT PROJECT
        .row.row--offset-1.mt20-md
          .col.col--40
            .p-label.ttu ROCKETBANK
            .h2-title Arcada Rocketbank
          .col.col--60
            .p-main Our friends from Rocketbank showed up with awesome news – in partnership with Claustrophobia they had launched special quest, where you can exchange earned points for real rubles.
      
    .container
      .next__image(js-image-transition js-set-image-margin)
        .scaler(style="padding-bottom: "+ (698/1242)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1544361310/petrik/project_2.jpg)")
          img(js-lazy data-src='img/project_2.jpg' data-srcset='img/project_2@2x.jpg 2x' alt="")
