---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content

  
  // ABOUT
  .about
    .container.container--10
      .about__content
        h2.h2-title ABOUT
        p.p-main Petrick is the animation studio based in city of circles — Moscow. We started working in 2014 and since then we try to add love in each of our projects.
    .container
      .about__image
        img(src='img/aboutCollage.jpg' srcset='img/aboutCollage@2x.jpg 2x')
