---
title: UI
---
extends shared/_layout
include components/_sections

block content

  // TYPOGRAPHY
  div
    .section
      .container
        h1 Typography
    .section
      .container
        .h2-title H2 level heading
        p.p-label paragraph label style Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        p.p-main Main parapraph style Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        p.p-big Big paragraph style Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        
      .container
        .row.row--offset-1
          .col
            .h2-title.ttu Alignments
              p.p-main.tac Align center - galley of type and scrambled it to make a type specimen book. 
              p.p-main.tal Align left - galley of type and scrambled it to make a type specimen book. 
              p.p-main.tar Align right - galley of type and scrambled it to make a type specimen book. 
            .blockquote Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        
          
  // GRID
  div
    .section
      .container
        h1 GRID
    
    .section
      .container
        .row
          .col.col--50
            div(style="background: #eee; outline: 1px solid tomato; padding-top: 10px; padding-bottom: 10px") Col 50%
          .col.col--50
            div(style="background: #eee; outline: 1px solid tomato; padding-top: 10px; padding-bottom: 10px") Col 50%
        
        .row(style="margin-top: 30px")
          .col.col--33
            div(style="background: #eee; outline: 1px solid tomato; padding-top: 10px; padding-bottom: 10px") Col 33%
          .col.col--33
            div(style="background: #eee; outline: 1px solid tomato; padding-top: 10px; padding-bottom: 10px") Col 33%
          .col.col--33
            div(style="background: #eee; outline: 1px solid tomato; padding-top: 10px; padding-bottom: 10px") Col 33%
          .col.col--40
            div(style="background: #eee; outline: 1px solid tomato; padding-top: 10px; padding-bottom: 10px") Col 40% (wraped line)
          .col.col--60
            div(style="background: #eee; outline: 1px solid tomato; padding-top: 10px; padding-bottom: 10px") Col 60% (wraped line)

        .row.row--offset-1(style="margin-top: 30px")
          .col.col--50
            div(style="background: #eee; outline: 1px solid tomato; padding-top: 10px; padding-bottom: 10px") Container with 1 col offset
          .col.col--50
            div(style="background: #eee; outline: 1px solid tomato; padding-top: 10px; padding-bottom: 10px") Container with 1 col offset
                
                
  // PROJECT BLOCKS
  .div
    .section
      .container
        h1 Project blocks
        
    // MEDIA SECTIONS
    +i_1_video_vimeo
    +i_1_one_image
    +i_2_two_images
    +i_2_two_images_centered_demo
    +i_3_one_image_container_offset
    +i_4_full-width
    +i_5_three_images_individual_sign
    +i_6_three_images_block_sign
    +i_7_six_images
    +i_7_six_images_centered_demo
            
    // TEXT SECTIONS
    +t_project_header
    +t_1_text_only
    +t_2_text_caption
    +t_3_centered_text
    +t_credits
        
    // IMAGE + TEXT Sections
    +i_t_1_image_text(true)
    +i_t_1_image_text(false, "row--reverse")
    +i_t_1_image_text_align
    +i_t_1_image_text_align("row--reverse")
    +i_t_2_image_with_image_caption
    +i_t_3_text_with_image_caption
              
    // INTERACTIVE SECTIONS
    +i_slider
    +i_chooser
