// keep space for preloading images via AR set
.scaler
  display: block
  position: relative
  z-index: 1
  font-size: 0
  overflow: hidden
  background-color: transparent
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  &[data-ar="16:9"]
    padding-bottom: 56.25%
  &[data-ar="1:1"]
    padding-bottom: 100%
  &[data-ar="4:3"]
    padding-bottom: 75%
  &[data-ar="21:9"]
    padding-bottom: 42.85%
  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    [js-lazy]
      will-change: opacity
      backface-visibility: hidden
  &.is-loaded
    img, picture
      opacity: 1
    &.no-bg-onload
      background-image: none !important
      // TODO flicker on png's (not possible to animate with below methods)
      // background-position: 200% 200%
      // background-image: url('../img/pixel-1.png') !important
      // background-size: 1000%

img, picture
  &[js-lazy]
    opacity: 0
    transition: opacity .25s $ease

.video
  position: relative
  z-index: 1
  font-size: 0
  &__placeholder, &__player
    position: absolute 0
    transition: opacity .25s $ease
  &__placeholder
    opacity: 1
    cursor: pointer
  &__player
    opacity: 0
    pointer-events: none
  &__play
    position: absolute
    top: 50%
    left: 50%
    z-index: 2
    transform: translate3d(-50%,-50%,0)
    font-size: 0
    color: rgba(white, .75)
    cursor: pointer
    transform-style: preserve-3d
    transition: color .25s $ease
    .ico
      font-size: 64px
      will-change: transform
      transform-style: preserve-3d
      backface-visibility: hidden
      transition: transform .25s $ease

  &:hover
    .video__play
      color: rgba(white, .95)
      .ico
        transform: scale(1.05)
  &:active
    .video__play
      color: rgba(white, .95)
      .ico
        transform: scale(0.98)

  &.is-playing
    .video
      &__placeholder
        opacity: 0
        pointer-events: none
      &__player
        opacity: 1
        pointer-events: all


.figure
  margin: 0

  &.figure--m-15
    margin-left: -15px
    margin-right: -15px

+r($md)
  .figure
    &.figure--m-15
      margin-left: 0
      margin-right: 0
    &--fill-mobile
      margin-left: -20px
      margin-right: -20px
      .figcaption
        padding-left: 20px
        padding-right: 20px
