.section
  margin: 70px 0
  &:first-child
    margin-top: 0

  &__heading
    margin-bottom: 30px

  &--credits
    margin-top: 85px
    margin-bottom: 40px

  // &--text-mb
    // minus 1.35em
  &--glued
    margin-top: -58px

+r($lg)
  .section
    margin: 55px 0
    &__heading
      margin-bottom: 20px

    &--credits
      margin-top: 70px
      margin-bottom: 40px
    &--glued
      margin-top: -43px

  .mt45-lg
    margin-top: 50px

+r($md)
  .section
    margin: 50px 0
    &--credits
      margin-top: 65px
      margin-bottom: 40px
    &--glued
      margin-top: -38px
    &--mob-margin
      margin-left: -20px
      margin-right: -20px

  .mt50-md
    margin-top: 50px
