.ico-mono-arrow-down {
  width: 1.13em;
  height: 1em;
  fill: #000;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-nav-arrow-left {
  width: 0.96em;
  height: 1em;
  fill: #000;
}
.ico-mono-nav-arrow-right {
  width: 0.96em;
  height: 1em;
  fill: #000;
}
.ico-mono-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
